In [15]:
# PythonのORM SQLAlchemy
# SQLAlchemy - PythonのORマッパー
# ORマッパー - 異なる枠組みであるDBとPythonのオブジェクトを関連づけるライブラリーのことを　
# SQLをクラスとしてを扱えるようにしたもので、SQLをオブジェクト指向で書ける

# ORマッパーを使用するメリット
# DBの種類に依存せず、DBの種類によらず,同じコードで操作できる
# DBを変更する場合にも,コードの書き換えがほとんど必要ない

# ORマッパーを使用するデメリット
# どのようなSQLが叩かれているのかわかりにくい
# セキュリティーや実行速度などを考慮したい場合はしっかり確認する必要がある

# 1, SQLAlchemyの準備

In [1]:
!pip3 install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.27)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.8.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.6.0)

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session,sessionmaker
from sqlalchemy.ext.declarative import declarative_base

import pandas as pd
import os #ファイル操作系のライブラリ

In [3]:
# datebase_file - ファイルの格納先/ファイル名.db
# datebase_file = 

# 今どこのフォルダにあるのか確認する方法
# cwd - Current Working Directory(現在の作業directory)
# os.getcwd() #結果 - /content

# この今あるdirectoryとファイル名を結び付ける
# join() - 保存先directoryとファイル名を接続する

# ファイルの格納先を作成する
# os.path.join(os.getcwd(),"data.db")
#これで/content/の中にdata.dbが作成された

#もっと正確に書くと
# abspath - 絶対パスを出力する
# 絶対パス - 最上位階層からの位置関係を記述する方式
# 相対パス - 現在位置から相対的な位置関係を記述する方式

database_file = os.path.join(os.path.abspath(os.getcwd()),"data.db")
print(database_file)

/content/data.db

In [4]:
# エンジンをセットする必要がある
# echo=True - コードを叩いたときに中身を出力するかどうか意味する
# "sqlite:///" + database_file, convert_unicode=True, echo=True - ここら辺はあまり気にしなくていい
engine = create_engine("sqlite:///" + database_file, convert_unicode=True, echo=True)
# engine - どのDBにどうやって接続するのか、設定を行い、その設定内容を保存したもの

#sqlite3を使用する(設定する必要がある)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SADeprecationWarning: The create_engine.convert_unicode parameter and corresponding dialect-level parameters are deprecated, and will be removed in a future release.  Modern DBAPIs support Python Unicode natively and this parameter is unnecessary.
  after removing the cwd from sys.path.

In [5]:
# データベースの中にテーブルを作成する 
# 必要なライブラリを読み込む
from sqlalchemy import Column, Integer, Float

In [6]:
# dbセッションを作る必要がある
# sqlarchemyはsessionを通じて,query(処理)要求を実行する
# session = DBとつながり確立してから,切断するまでの一連の流れ

# autocommit = False - commitを自動で行うかどうか
# autoflush = False - flushを自動で行うかどうか
# bind -　どのデータベースを結び付けるか

db_session = scoped_session(
    sessionmaker(
        autocommit = False,
        autoflush = False,
        bind = engine
    )
)

In [7]:
# データベース中身を生成
# データベースの中身を生成するにあたり,データベースを作成する
Base = declarative_base() #元となるデータベース基盤

# Base.query = db_session.query_property() - きまり（あまり気にしなくていい）
Base.query = db_session.query_property()

In [8]:
#テーブル定義

#baseを継承している,元となるデータベースを引き継いでいる
class Wine(Base):
    __tablename__ = "wine_class" # __tablename__ - table名
    id = Column(Integer,primary_key=True) #カラムの情報を定義する,Columnのidは整数型,primary_key、主キー = DBのテーブル内でレコード(行)を一意から識別することができるように指定するもの
    wine_class = Column(Integer,unique = False)
    alcohol = Column(Float,unique = False)
    ash = Column(Float,unique = False)
    hue = Column(Float,unique = False)
    proline = Column(Integer,unique = False)

    # init関数
    # def __init__(self,wine_class=None,ash=None,hue=None,proline=None):
    # 引数 - wine_class=None,ash=None,hue=None,proline=None) 
    # self.wine_class = wine_classはproperty(wine_class = Column(integer,unique = False))

    def __init__(self,wine_class=None,alcohol=None,ash=None,hue=None,proline=None): #wine_class=None - 初期値とする, idはsqlarchemy側で勝手に設定してくれるため引数に追加しなくていい
        self.wine_class = wine_class #クラスの中のinit関数は基本的にself.にする
        self.alcohol=alcohol
        self.ash=ash
        self.hue=hue
        self.proline=proline

# ここまででテーブル定義

In [9]:
# metadata - データベースのさまざまな情報を保持しているオブジェクト(物体)のことを指す
Base.metadata.create_all(bind=engine)
# これでこれか空のデータベースが作成された

# 結果
# CREATE TABLE wine_class (
# 	id INTEGER NOT NULL, 
# 	wine_class INTEGER, 
# 	alcohol FLOAT, 
# 	ash FLOAT, 
# 	hue FLOAT, 
# 	proline INTEGER, 
# 	PRIMARY KEY (id)
# )

2022-01-10 04:49:40,097 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-10 04:49:40,104 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("wine_class")
2022-01-10 04:49:40,105 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 04:49:40,108 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("wine_class")
2022-01-10 04:49:40,110 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 04:49:40,116 INFO sqlalchemy.engine.Engine
CREATE TABLE wine_class (
	id INTEGER NOT NULL,
	wine_class INTEGER,
	alcohol FLOAT,
	ash FLOAT,
	hue FLOAT,
	proline INTEGER,
	PRIMARY KEY (id)
)


2022-01-10 04:49:40,117 INFO sqlalchemy.engine.Engine [no key 0.00189s] ()
2022-01-10 04:49:40,136 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
# ここからはcsvを入れるためのコードを作成　
# csvを読み込む
wine_df = pd.read_csv("/content/wine_class.csv")
wine_df

     Class  Alcohol   Ash   Hue  Proline
0        1    14.23  2.43  1.04     1065
1        1    13.20  2.14  1.05     1050
2        1    13.16  2.67  1.03     1185
3        1    14.37  2.50  0.86     1480
4        1    13.24  2.87  1.04      735
..     ...      ...   ...   ...      ...
173      3    13.71  2.45  0.64      740
174      3    13.40  2.48  0.70      750
175      3    13.27  2.26  0.59      835
176      3    13.17  2.37  0.60      840
177      3    14.13  2.74  0.61      560

[178 rows x 5 columns]

In [11]:
# ここからデータベースにデータを追加していく
# まとめて追加は不可能のなのでfor文で,1行づつとってきて追加する必要がある
# iterrows() - 1行(columns)づつデータを取得する

# for index, _df in wine_df.iterrows():
#     print(_df)
#     break #１つだけ出力する

#1つづつデータベースに格納する
def read_data():
    wine_df = pd.read_csv("/content/wine_class.csv")

    for index, _df in wine_df.iterrows():
        row = Wine(wine_class = _df["Class"],alcohol=_df["Alcohol"],ash=_df["Ash"],hue=_df["Hue"],proline=_df["Proline"]) #インスタンス化する - これで1行分のデータが入ることになった
        db_session.add(row) #インスタンス化された1行分のデータを追加する
    # commitをしないと反映されないので絶対セットする, commit = データを反映する
    db_session.commit()
# これで終わり

# 読み込む - wine_df = pd.read_csv("/content/wine_class.csv") 
# 1行づつ取り row = Wine(wine_class = _df["Class"],alcohol=_df["Alcohol"],ash=_df["Ash"],hue=_df["Hue"],proline=_df["Proline"]) #インスタンス化する - これで1行分のデータが入ることになった
# 追加する   db_session.add(row) #インスタンス化された1行分のデータを追加する
# 反映 db_session.commit()

# wine()で下が呼び出させれる
# def __init__(self,wine_class=None,ash=None,hue=None,proline=None): #wine_class=None - 初期値とする, idはsqlarchemy側で勝手に設定してくれるため引数に追加しなくていい
#         self.wine_class = wine_class #クラスの中のinit関数は基本的にself.にする
#         self.alcohol=alcohol
#         self.ash=ash
#         self.hue=hue
#         self.proline=proline

In [12]:
read_data()
# ここまでがデータベースを準備する過程
# これでテーブルは作成され,csvファイルも格納された

2022-01-10 04:49:43,616 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-10 04:49:43,625 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,627 INFO sqlalchemy.engine.Engine [generated in 0.00189s] (1.0, 14.23, 2.43, 1.04, 1065.0)
2022-01-10 04:49:43,630 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,632 INFO sqlalchemy.engine.Engine [cached since 0.006903s ago] (1.0, 13.2, 2.14, 1.05, 1050.0)
2022-01-10 04:49:43,634 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,636 INFO sqlalchemy.engine.Engine [cached since 0.0112s ago] (1.0, 13.16, 2.67, 1.03, 1185.0)
2022-01-10 04:49:43,638 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,640 INFO sqlalchemy.engine.Engine [cached since 0.01549s ago] (1.0, 14.37, 2.5, 0.86, 1480.0)
2022-01-10 04:49:43,642 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,643 INFO sqlalchemy.engine.Engine [cached since 0.01797s ago] (1.0, 13.24, 2.87, 1.04, 735.0)
2022-01-10 04:49:43,644 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,645 INFO sqlalchemy.engine.Engine [cached since 0.02052s ago] (1.0, 14.2, 2.45, 1.05, 1450.0)
2022-01-10 04:49:43,647 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,648 INFO sqlalchemy.engine.Engine [cached since 0.02305s ago] (1.0, 14.39, 2.45, 1.02, 1290.0)
2022-01-10 04:49:43,649 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,650 INFO sqlalchemy.engine.Engine [cached since 0.02556s ago] (1.0, 14.06, 2.61, 1.06, 1295.0)
2022-01-10 04:49:43,652 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,653 INFO sqlalchemy.engine.Engine [cached since 0.02804s ago] (1.0, 14.83, 2.17, 1.08, 1045.0)
2022-01-10 04:49:43,654 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,655 INFO sqlalchemy.engine.Engine [cached since 0.03057s ago] (1.0, 13.86, 2.27, 1.01, 1045.0)
2022-01-10 04:49:43,657 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,658 INFO sqlalchemy.engine.Engine [cached since 0.03313s ago] (1.0, 14.1, 2.3, 1.25, 1510.0)
2022-01-10 04:49:43,659 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,661 INFO sqlalchemy.engine.Engine [cached since 0.03572s ago] (1.0, 14.12, 2.32, 1.17, 1280.0)
2022-01-10 04:49:43,662 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,663 INFO sqlalchemy.engine.Engine [cached since 0.03853s ago] (1.0, 13.75, 2.41, 1.15, 1320.0)
2022-01-10 04:49:43,665 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,666 INFO sqlalchemy.engine.Engine [cached since 0.04101s ago] (1.0, 14.75, 2.39, 1.25, 1150.0)
2022-01-10 04:49:43,667 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,668 INFO sqlalchemy.engine.Engine [cached since 0.04354s ago] (1.0, 14.38, 2.38, 1.2, 1547.0)
2022-01-10 04:49:43,670 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,671 INFO sqlalchemy.engine.Engine [cached since 0.04597s ago] (1.0, 13.63, 2.7, 1.28, 1310.0)
2022-01-10 04:49:43,672 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,673 INFO sqlalchemy.engine.Engine [cached since 0.04845s ago] (1.0, 14.3, 2.72, 1.07, 1280.0)
2022-01-10 04:49:43,675 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,676 INFO sqlalchemy.engine.Engine [cached since 0.05101s ago] (1.0, 13.83, 2.62, 1.13, 1130.0)
2022-01-10 04:49:43,677 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,678 INFO sqlalchemy.engine.Engine [cached since 0.05352s ago] (1.0, 14.19, 2.48, 1.23, 1680.0)
2022-01-10 04:49:43,680 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,681 INFO sqlalchemy.engine.Engine [cached since 0.05606s ago] (1.0, 13.64, 2.56, 0.96, 845.0)
2022-01-10 04:49:43,682 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,683 INFO sqlalchemy.engine.Engine [cached since 0.05851s ago] (1.0, 14.06, 2.28, 1.09, 780.0)
2022-01-10 04:49:43,685 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,686 INFO sqlalchemy.engine.Engine [cached since 0.06101s ago] (1.0, 12.93, 2.65, 1.03, 770.0)
2022-01-10 04:49:43,687 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,688 INFO sqlalchemy.engine.Engine [cached since 0.06359s ago] (1.0, 13.71, 2.36, 1.11, 1035.0)
2022-01-10 04:49:43,690 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,691 INFO sqlalchemy.engine.Engine [cached since 0.06603s ago] (1.0, 12.85, 2.52, 1.09, 1015.0)
2022-01-10 04:49:43,692 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,693 INFO sqlalchemy.engine.Engine [cached since 0.06853s ago] (1.0, 13.5, 2.61, 1.12, 845.0)
2022-01-10 04:49:43,695 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,696 INFO sqlalchemy.engine.Engine [cached since 0.07096s ago] (1.0, 13.05, 3.22, 1.13, 830.0)
2022-01-10 04:49:43,697 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,698 INFO sqlalchemy.engine.Engine [cached since 0.07356s ago] (1.0, 13.39, 2.62, 0.92, 1195.0)
2022-01-10 04:49:43,700 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,701 INFO sqlalchemy.engine.Engine [cached since 0.07607s ago] (1.0, 13.3, 2.14, 1.02, 1285.0)
2022-01-10 04:49:43,702 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,703 INFO sqlalchemy.engine.Engine [cached since 0.07859s ago] (1.0, 13.87, 2.8, 1.25, 915.0)
2022-01-10 04:49:43,705 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,706 INFO sqlalchemy.engine.Engine [cached since 0.08102s ago] (1.0, 14.02, 2.21, 1.04, 1035.0)
2022-01-10 04:49:43,707 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,708 INFO sqlalchemy.engine.Engine [cached since 0.08347s ago] (1.0, 13.73, 2.7, 1.19, 1285.0)
2022-01-10 04:49:43,710 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,711 INFO sqlalchemy.engine.Engine [cached since 0.08591s ago] (1.0, 13.58, 2.36, 1.09, 1515.0)
2022-01-10 04:49:43,712 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,713 INFO sqlalchemy.engine.Engine [cached since 0.08845s ago] (1.0, 13.68, 2.36, 1.23, 990.0)
2022-01-10 04:49:43,715 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,716 INFO sqlalchemy.engine.Engine [cached since 0.09088s ago] (1.0, 13.76, 2.7, 1.25, 1235.0)
2022-01-10 04:49:43,717 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,718 INFO sqlalchemy.engine.Engine [cached since 0.09342s ago] (1.0, 13.51, 2.65, 1.1, 1095.0)
2022-01-10 04:49:43,720 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,721 INFO sqlalchemy.engine.Engine [cached since 0.09587s ago] (1.0, 13.48, 2.41, 1.04, 920.0)
2022-01-10 04:49:43,722 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,723 INFO sqlalchemy.engine.Engine [cached since 0.0983s ago] (1.0, 13.28, 2.84, 1.09, 880.0)
2022-01-10 04:49:43,724 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,726 INFO sqlalchemy.engine.Engine [cached since 0.1008s ago] (1.0, 13.05, 2.55, 1.12, 1105.0)
2022-01-10 04:49:43,727 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,728 INFO sqlalchemy.engine.Engine [cached since 0.1032s ago] (1.0, 13.07, 2.1, 1.18, 1020.0)
2022-01-10 04:49:43,729 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,730 INFO sqlalchemy.engine.Engine [cached since 0.1056s ago] (1.0, 14.22, 2.51, 0.89, 760.0)
2022-01-10 04:49:43,732 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,733 INFO sqlalchemy.engine.Engine [cached since 0.1081s ago] (1.0, 13.56, 2.31, 0.95, 795.0)
2022-01-10 04:49:43,734 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,735 INFO sqlalchemy.engine.Engine [cached since 0.1106s ago] (1.0, 13.41, 2.12, 0.91, 1035.0)
2022-01-10 04:49:43,737 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,738 INFO sqlalchemy.engine.Engine [cached since 0.113s ago] (1.0, 13.88, 2.59, 0.88, 1095.0)
2022-01-10 04:49:43,739 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,740 INFO sqlalchemy.engine.Engine [cached since 0.1156s ago] (1.0, 13.24, 2.29, 0.82, 680.0)
2022-01-10 04:49:43,742 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,743 INFO sqlalchemy.engine.Engine [cached since 0.1183s ago] (1.0, 13.05, 2.1, 0.88, 885.0)
2022-01-10 04:49:43,744 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,745 INFO sqlalchemy.engine.Engine [cached since 0.1206s ago] (1.0, 14.21, 2.44, 0.87, 1080.0)
2022-01-10 04:49:43,747 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,748 INFO sqlalchemy.engine.Engine [cached since 0.1231s ago] (1.0, 14.38, 2.28, 1.04, 1065.0)
2022-01-10 04:49:43,749 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,750 INFO sqlalchemy.engine.Engine [cached since 0.1255s ago] (1.0, 13.9, 2.12, 0.91, 985.0)
2022-01-10 04:49:43,752 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,753 INFO sqlalchemy.engine.Engine [cached since 0.1279s ago] (1.0, 14.1, 2.4, 1.07, 1060.0)
2022-01-10 04:49:43,754 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,755 INFO sqlalchemy.engine.Engine [cached since 0.1304s ago] (1.0, 13.94, 2.27, 1.12, 1260.0)
2022-01-10 04:49:43,757 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,758 INFO sqlalchemy.engine.Engine [cached since 0.1329s ago] (1.0, 13.05, 2.04, 1.12, 1150.0)
2022-01-10 04:49:43,759 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,760 INFO sqlalchemy.engine.Engine [cached since 0.1354s ago] (1.0, 13.83, 2.6, 1.24, 1265.0)
2022-01-10 04:49:43,761 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,763 INFO sqlalchemy.engine.Engine [cached since 0.1378s ago] (1.0, 13.82, 2.42, 1.01, 1190.0)
2022-01-10 04:49:43,764 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,765 INFO sqlalchemy.engine.Engine [cached since 0.1403s ago] (1.0, 13.77, 2.68, 1.13, 1375.0)
2022-01-10 04:49:43,767 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,768 INFO sqlalchemy.engine.Engine [cached since 0.1429s ago] (1.0, 13.74, 2.25, 0.92, 1060.0)
2022-01-10 04:49:43,769 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,770 INFO sqlalchemy.engine.Engine [cached since 0.1455s ago] (1.0, 13.56, 2.46, 0.98, 1120.0)
2022-01-10 04:49:43,772 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,773 INFO sqlalchemy.engine.Engine [cached since 0.1485s ago] (1.0, 14.22, 2.3, 0.94, 970.0)
2022-01-10 04:49:43,775 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,777 INFO sqlalchemy.engine.Engine [cached since 0.1519s ago] (1.0, 13.29, 2.68, 1.07, 1270.0)
2022-01-10 04:49:43,779 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,780 INFO sqlalchemy.engine.Engine [cached since 0.155s ago] (1.0, 13.72, 2.5, 0.89, 1285.0)
2022-01-10 04:49:43,782 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,783 INFO sqlalchemy.engine.Engine [cached since 0.158s ago] (2.0, 12.37, 1.36, 1.05, 520.0)
2022-01-10 04:49:43,785 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,787 INFO sqlalchemy.engine.Engine [cached since 0.1619s ago] (2.0, 12.33, 2.28, 1.25, 680.0)
2022-01-10 04:49:43,789 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,790 INFO sqlalchemy.engine.Engine [cached since 0.1653s ago] (2.0, 12.64, 2.02, 0.98, 450.0)
2022-01-10 04:49:43,800 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,803 INFO sqlalchemy.engine.Engine [cached since 0.1784s ago] (2.0, 13.67, 1.92, 1.23, 630.0)
2022-01-10 04:49:43,807 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,809 INFO sqlalchemy.engine.Engine [cached since 0.1842s ago] (2.0, 12.37, 2.16, 1.22, 420.0)
2022-01-10 04:49:43,812 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,814 INFO sqlalchemy.engine.Engine [cached since 0.1893s ago] (2.0, 12.17, 2.53, 1.45, 355.0)
2022-01-10 04:49:43,819 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,820 INFO sqlalchemy.engine.Engine [cached since 0.1956s ago] (2.0, 12.37, 2.56, 1.19, 678.0)
2022-01-10 04:49:43,824 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,828 INFO sqlalchemy.engine.Engine [cached since 0.203s ago] (2.0, 13.11, 1.7, 1.12, 502.0)
2022-01-10 04:49:43,830 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,832 INFO sqlalchemy.engine.Engine [cached since 0.2074s ago] (2.0, 12.37, 1.92, 1.12, 510.0)
2022-01-10 04:49:43,835 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,838 INFO sqlalchemy.engine.Engine [cached since 0.2132s ago] (2.0, 13.34, 2.36, 1.02, 750.0)
2022-01-10 04:49:43,842 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,844 INFO sqlalchemy.engine.Engine [cached since 0.2193s ago] (2.0, 12.21, 1.75, 1.28, 718.0)
2022-01-10 04:49:43,847 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,849 INFO sqlalchemy.engine.Engine [cached since 0.2244s ago] (2.0, 12.29, 2.21, 0.9059999999999999, 870.0)
2022-01-10 04:49:43,856 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,860 INFO sqlalchemy.engine.Engine [cached since 0.2353s ago] (2.0, 13.86, 2.67, 1.36, 410.0)
2022-01-10 04:49:43,865 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,867 INFO sqlalchemy.engine.Engine [cached since 0.242s ago] (2.0, 13.49, 2.24, 0.98, 472.0)
2022-01-10 04:49:43,869 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,870 INFO sqlalchemy.engine.Engine [cached since 0.2456s ago] (2.0, 12.99, 2.6, 1.31, 985.0)
2022-01-10 04:49:43,875 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,876 INFO sqlalchemy.engine.Engine [cached since 0.2514s ago] (2.0, 11.96, 2.3, 0.99, 886.0)
2022-01-10 04:49:43,879 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,880 INFO sqlalchemy.engine.Engine [cached since 0.2554s ago] (2.0, 11.66, 1.92, 1.23, 428.0)
2022-01-10 04:49:43,882 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,884 INFO sqlalchemy.engine.Engine [cached since 0.259s ago] (2.0, 13.03, 1.71, 1.19, 392.0)
2022-01-10 04:49:43,886 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 04:49:43,888 INFO sqlalchemy.engine.Engine [cached since 0.2633s ago] (2.0, 11.84, 2.23, 0.96, 500.0)

# 2, CRUD操作 (Create, Read, UPdate, Delete)

In [13]:
# READ
# データベース操作は基本的にdb_sessionを使う
# all() - 指定したすべてのデータを(columns)を取得
db = db_session.query(Wine).all()

2022-01-10 04:49:48,344 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-10 04:49:48,352 INFO sqlalchemy.engine.Engine SELECT wine_class.id AS wine_class_id, wine_class.wine_class AS wine_class_wine_class, wine_class.alcohol AS wine_class_alcohol, wine_class.ash AS wine_class_ash, wine_class.hue AS wine_class_hue, wine_class.proline AS wine_class_proline
FROM wine_class
2022-01-10 04:49:48,359 INFO sqlalchemy.engine.Engine [generated in 0.00651s] ()

In [ ]:
# db - インスタンスが格納されている
for row in db:
    print(row.alcohol)

In [ ]:
# カラムを部分的(特定の)に抽出
# query()の引数に抽出したいカラムを記載
db = db_session.query(Wine.hue,Wine.proline).all()

for row in db:
    print(row.hue)

# これはエラーが起きる
# for row in db:
#     print(row.alcohol)

In [22]:
# 条件抽出
# filter()に条件式を記述
db = db_session.query(Wine).filter(Wine.hue > 1.0).all()

2022-01-10 04:55:42,924 INFO sqlalchemy.engine.Engine SELECT wine_class.id AS wine_class_id, wine_class.wine_class AS wine_class_wine_class, wine_class.alcohol AS wine_class_alcohol, wine_class.ash AS wine_class_ash, wine_class.hue AS wine_class_hue, wine_class.proline AS wine_class_proline
FROM wine_class
WHERE wine_class.hue > ?
2022-01-10 04:55:42,927 INFO sqlalchemy.engine.Engine [generated in 0.00320s] (1.0,)

In [ ]:
for row in db:
    print(row.hue)

In [27]:
# 取得レコード数の制限
# limit()　- 制限をかける
db = db_session.query(Wine).limit(20).all()

2022-01-10 04:58:43,821 INFO sqlalchemy.engine.Engine SELECT wine_class.id AS wine_class_id, wine_class.wine_class AS wine_class_wine_class, wine_class.alcohol AS wine_class_alcohol, wine_class.ash AS wine_class_ash, wine_class.hue AS wine_class_hue, wine_class.proline AS wine_class_proline
FROM wine_class
 LIMIT ? OFFSET ?
2022-01-10 04:58:43,825 INFO sqlalchemy.engine.Engine [cached since 10.58s ago] (20, 0)

In [28]:
for row in db:
    print(row.alcohol)

14.23
13.2
13.16
14.37
13.24
14.2
14.39
14.06
14.83
13.86
14.1
14.12
13.75
14.75
14.38
13.63
14.3
13.83
14.19
13.64

In [29]:
# レコードの並べ方
# asc - ascending(昇順)
# desc - descending(降順)

from sqlalchemy import desc

In [38]:
# order_by()の中に何を基準に降順にするか記述する
db = db_session.query(Wine).order_by(desc(Wine.hue)).limit(20).all()

2022-01-10 05:04:44,641 INFO sqlalchemy.engine.Engine SELECT wine_class.id AS wine_class_id, wine_class.wine_class AS wine_class_wine_class, wine_class.alcohol AS wine_class_alcohol, wine_class.ash AS wine_class_ash, wine_class.hue AS wine_class_hue, wine_class.proline AS wine_class_proline
FROM wine_class ORDER BY wine_class.hue DESC
 LIMIT ? OFFSET ?
2022-01-10 05:04:44,648 INFO sqlalchemy.engine.Engine [generated in 0.00716s] (20, 0)

In [ ]:
for row in db:
    print(row.hue)

In [41]:
# CREATE
wine = Wine(wine_class=1,alcohol=1,ash=1,hue=1,proline=1) #インスタンス化(1行分のデータを作る)

In [43]:
# add(): - 追加
# commit(): - 反映

db_session.add(wine)
db_session.commit()
# これで追加された

2022-01-10 05:08:01,515 INFO sqlalchemy.engine.Engine INSERT INTO wine_class (wine_class, alcohol, ash, hue, proline) VALUES (?, ?, ?, ?, ?)
2022-01-10 05:08:01,517 INFO sqlalchemy.engine.Engine [cached since 1098s ago] (1, 1.0, 1.0, 1.0, 1)
2022-01-10 05:08:01,522 INFO sqlalchemy.engine.Engine COMMIT

In [44]:
db = db_session.query(Wine).filter(Wine.proline==1).all()
# これで取り出せた

2022-01-10 05:09:22,571 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-10 05:09:22,574 INFO sqlalchemy.engine.Engine SELECT wine_class.id AS wine_class_id, wine_class.wine_class AS wine_class_wine_class, wine_class.alcohol AS wine_class_alcohol, wine_class.ash AS wine_class_ash, wine_class.hue AS wine_class_hue, wine_class.proline AS wine_class_proline
FROM wine_class
WHERE wine_class.proline = ?
2022-01-10 05:09:22,577 INFO sqlalchemy.engine.Engine [generated in 0.00264s] (1,)

In [45]:
for row in db:
    print(row.id,row.wine_class,row.alcohol,row.ash,row.hue,row.proline)

179 1 1.0 1.0 1.0 1

In [47]:
# UPDATA 
db = db_session.query(Wine).filter(Wine.proline==1).first()
# prolineが１のものをfirst(一個)とってきた

2022-01-10 05:12:23,061 INFO sqlalchemy.engine.Engine SELECT wine_class.id AS wine_class_id, wine_class.wine_class AS wine_class_wine_class, wine_class.alcohol AS wine_class_alcohol, wine_class.ash AS wine_class_ash, wine_class.hue AS wine_class_hue, wine_class.proline AS wine_class_proline
FROM wine_class
WHERE wine_class.proline = ?
 LIMIT ? OFFSET ?
2022-01-10 05:12:23,064 INFO sqlalchemy.engine.Engine [cached since 5.313s ago] (1, 1, 0)

In [51]:
# Classの値を10に書き換え
db.wine_class = 10
db_session.commit()
# これで変更が加わった

2022-01-10 05:14:10,298 INFO sqlalchemy.engine.Engine UPDATE wine_class SET wine_class=? WHERE wine_class.id = ?
2022-01-10 05:14:10,301 INFO sqlalchemy.engine.Engine [generated in 0.00393s] (10, 179)
2022-01-10 05:14:10,304 INFO sqlalchemy.engine.Engine COMMIT

In [52]:
# とってきて
db = db_session.query(Wine).filter(Wine.proline==1).all()

2022-01-10 05:14:56,701 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-10 05:14:56,707 INFO sqlalchemy.engine.Engine SELECT wine_class.id AS wine_class_id, wine_class.wine_class AS wine_class_wine_class, wine_class.alcohol AS wine_class_alcohol, wine_class.ash AS wine_class_ash, wine_class.hue AS wine_class_hue, wine_class.proline AS wine_class_proline
FROM wine_class
WHERE wine_class.proline = ?
2022-01-10 05:14:56,709 INFO sqlalchemy.engine.Engine [cached since 334.1s ago] (1,)

In [53]:
# 中身を見ると
for row in db:
    print(row.id,row.wine_class,row.alcohol,row.ash,row.hue,row.proline)

# updateしたい場合は,インスタンス(データ)をとってきてとってきて,その値を変えてcommit()する

179 10 1.0 1.0 1.0 1

In [54]:
# DELETE
# db_session.query(Wine) - Wineのテーブルから
# delete() - 削除
# db_session.query(Wine).filter(Wine.proline==1).delete() - filterに当てはまるものをdeleteする
db_session.query(Wine).filter(Wine.proline==1).delete()

2022-01-10 05:18:56,722 INFO sqlalchemy.engine.Engine DELETE FROM wine_class WHERE wine_class.proline = ?
2022-01-10 05:18:56,728 INFO sqlalchemy.engine.Engine [generated in 0.00615s] (1,)

1

In [55]:
db = db_session.query(Wine).filter(Wine.proline==1).all()

2022-01-10 05:19:47,992 INFO sqlalchemy.engine.Engine SELECT wine_class.id AS wine_class_id, wine_class.wine_class AS wine_class_wine_class, wine_class.alcohol AS wine_class_alcohol, wine_class.ash AS wine_class_ash, wine_class.hue AS wine_class_hue, wine_class.proline AS wine_class_proline
FROM wine_class
WHERE wine_class.proline = ?
2022-01-10 05:19:48,004 INFO sqlalchemy.engine.Engine [cached since 625.4s ago] (1,)

In [56]:
# 表示されない理由は削除されたから
for row in db:
    print(row)