In [ ]:
# Python - オブジェクト指向（コードの再利用が楽、新しく追加するところは継承して差分だけ書けばいい）
# オブジェクト - たい焼きの生地と具材（あんこ、クリーム）
# １、データと処理（メソッド）で構成される
# ２、上記を合わせてattribute(属性)と呼ぶ

# クラス（たい焼きを焼く鉄板） -　オブジェクトのもとになるコード 
# インスタンス(たい焼きそのもの) - クラスをもとに生成されるオブジェクト

In [ ]:
print("Hello"*3)

print("平成"+str(30)+"年")
print("西暦"+str(30+1992)+"年")

# print("平成"+str(30)+"年", end=""), end=""することで２行を１行で書けるようになる(改行しない)
print("平成"+str(30)+"年", end="")
print("西暦"+str(30+1992)+"年")

# """３つで複数にわたって書くことができる（複数行にわたって文字列を書く）
print("""
hey
hello
what
""")

HelloHelloHello
平成30年
西暦2022年
平成30年西暦2022年

hey
hello
what

In [ ]:
# 変数 - 計算や処理を行うための数字や文字を入れておく箱(オブジェクトが保存されているメモリ番地の名前)
# 変数 - プログラム中で内容が変化する
# 定数 - プログラム中で内容が変化しない

user_name = "chani"
age = 42
next_age=age+1
year = input("please input this year")
year = int(year) + 1

please input this year2021

2022

In [ ]:
# データの型とリスト、タプル(インデックスは０から始まる)
# リスト - データをまとめて扱う時に最適,内容を変更できる(mutable)
# タプル - 内容を変更できない(immutable)

x=5
y=3.4
z="hello"

print(type(x))
print(type(y))
print(type(z))

# \を入れることで""が文字列に組み込めるようになる
a="Hello \"chani"
print(a)

# \nは改行
b=a="Hello \nchani"
print(b)

# float関数を使うと文字列だったモノを数値に変換してくれる
print(float("3.123"))

# int関数を使うと文字列だったモノを数値に変換してくれる
print(int("4"))

# str関数を使うと数値だったモノを文字列に変換してくれる
print(str(3.445))



# リスト
name=["chani","yasutomi","Nao"]
print(name[0])

# name[0]="Kosaka"名前（値）の変更
name[0]="Kosaka"
print(name)

# len() - 要素の数を調べる関数
print(len(name))



# タプル
# 両方可能タプル作成可能
# season="Speing","Summer","Fall","Winter"
# weekday=("Sunday","Monday")

season="Speing","Summer","Fall","Winter"
weekday=("Sunday","Monday")

print(season)
print(weekday)

print(season[0])

# id関数 - 各オブジェクトを示すユニークな番号
id(weekday)

<class 'int'>
<class 'float'>
<class 'str'>
Hello "chani
Hello
chani
3.123
4
3.445
chani
['Kosaka', 'yasutomi', 'Nao']
3
('Speing', 'Summer', 'Fall', 'Winter')
('Sunday', 'Monday')
Speing

139686615231776

In [ ]:
# ライブラリ - 効率的にプログラムできる
# ,を入れれば複数のライブラリをimport可能
# インスタンス　モジュール名.クラス名(引数)
# メソッドの実行　インスタンス名.メソッド名(引数)

import calendar,math

In [ ]:
# インスタンス生成　　モジュール名.クラス名(引数)
cal=calendar.TextCalendar()
# メソッドの実行　インスタンス名.メソッド名(引数)
print(cal.prmonth(2022,1))

    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31
None

In [ ]:
# 日曜日始まりのカレンダーができる
cal=calendar.TextCalendar(6)
print(cal.prmonth(2022,1))

    January 2022
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31
None

In [ ]:
from calendar import TextCalendar
cal=TextCalendar()
cals=cal.formatmonth(2018,3)
print(cals)

     March 2018
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [ ]:
num=math.sqrt(81)
print(num)
print(math.pi)

# 乱数(
import random
# 15~20までの乱数
print(random.randint(15,20))

# 0~5までの乱数
print(random.randrange(5))

9.0
3.141592653589793
15
0

In [ ]:
# 条件演算子 - true, false
# 最初の値で判断
print((1,2)>(2,1))
print([3,5]>[4,6])
print([4,5]>[3,6])

tokuten=int(input("please input score"))
if tokuten >= 80:
    print("A")
elif tokuten >=70:
    print("B")
elif tokuten >=60:
    print("C")
else:
    print("D")

False
False
True
please input score40
D

In [ ]:
# 条件演算式 - trueの場合の処理が最初にきて、その後に条件判断がきて、そのあとにelseの処理が来る
kazu=int(input("数を入力してください"))
print("偶数" if kazu %2 == 0 else"奇数")

数を入力してください3
奇数

In [ ]:
# ループ(繰り返し) コンピューターは単純作業のSpecializt
# ループの種類 
# 1,for文（前判定型ループ）　- 場合によっては一度も処理されない
# 2,while文（前判定型ループ） - 継続する条件を記述して、その条件が成り立っている場合はずっとループする

genders = ["man","woman"]
for gender in genders:
    print(gender)

for cnt in range(2):
    print(cnt)

man
woman
0
1

In [ ]:
# 1個目の引数(1) - 開始する数字
# 2個目の引数(5) - 終了する数字
# 3個目の引数(1) - 増やする数字（増減）

for cnt in range(1,5,1):
    print(cnt)

#　リストに変換することができる
list(range(0,20,2))

1
2
3
4

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
kazu = 10
cnt = 0
sum = 0
# 偶数だけを足していく数
while cnt <= kazu:
    sum = sum + cnt
    cnt = cnt +2
print(sum)

# 繰り返す回数をしっかり考えないと期待した結果にならないので注意が必要（論理エラーの原因になりやすい）

0
2
6
12
20
30
30

In [ ]:
# ループから抜ける
# braek文 - ループ処理を中断してループから抜ける(ループそのものから抜ける)
# continue文 - ループの中でcontinueが呼ばれたら、ループ内で以後の処理は行わず、ループの先頭に処理が戻る
# else文 - ループのブロックの後にelseを書くことでループから抜け出した時の処理を書くことができる

# braek文
kens=["tottori","shimane","END","hirosshima","okayama","yamaguchi"]

for ken in kens:
    if ken=="END":
        print("Break Loop")
        break
    print(ken)
else:
    print("End Loop")

tottori
shimane
Break Loop

In [ ]:
# braek文
kens=["tottori","shimane","END","hirosshima","okayama","yamaguchi"]

for ken in kens:
    print(ken)
else:
    print("End Loop")

tottori
shimane
END
hirosshima
okayama
yamaguchi
End Loop

In [ ]:
# continue文 - 以後の処理は実行しない
kens=["tottori","shimane","hirosshima","okayama","yamaguchi"]

for ken in kens:
    if ken=="END":
        print("Continue Loop")
        continue
    print(ken)
else:
    print("End Loop")

tottori
shimane
Continue Loop
hirosshima
okayama
yamaguchi
End Loop

In [ ]:
# enumerate関数 - リストなどをインデックスと要素のペアにして戻してくれる
kens=["tottori","shimane","hirosshima","okayama","yamaguchi"]
for index, ken in enumerate(kens):
    print(str(index)+":"+ken)

0:tottori
1:shimane
2:hirosshima
3:okayama
4:yamaguchi

In [ ]:
# zip関数 - 複数のリストをひとまとめに処理ができる
kens=["tottori","shimane","hirosshima","okayama","yamaguchi"]
cities=["tottori","Mastue","hirosshima","okayama","yamaguchi"]

for (ken,city) in zip(kens,cities):
    print("Ken:"+ken+"City:"+city)

Ken:tottoriCity:tottori
Ken:shimaneCity:Mastue
Ken:hirosshimaCity:hirosshima
Ken:okayamaCity:okayama
Ken:yamaguchiCity:yamaguchi

In [ ]:
# 例外(exception) - プログラムの実行時に発生する、コンパイルの時点では想定できなかった実行時エラー。この時に例外処理対処を行う。
# tryの部分には例外が発生しそうな処理を記述する
# exceptの部分には例外発生時の処理を記述する
# elsemには例外が発生しなかった場合の処理を記述する

try:
    age=int(input("年齢を入力してください"))
except:
    print("数値ではなく、文字が入力されました")
else:
    if age >= 18:
        print("成年です")
    else:
        print("未成年です")

年齢を入力してください1
未成年です

In [ ]:
# 文字列操作
# 型を知る - type関数
# type関数でオブジェクトの型がわかる
# len関数で文字列の長さを取得できる


x=5
y=3.1
z="hello"

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# メソッドの呼び方 - インスタンス名.メソッド()　
# xxx.lower() - 小文字になる
# len() - 要素数確認

x="Hello"
print(x.lower())
print(len(x))

for c in x:
    print(c)

hello
5
H
e
l
l
o

In [ ]:
# スライス - スライスで指定した範囲の文字列を取り出すことができる
print(x[0:1])
print(x[:3])
print(x[2:])

H
Hel
llo

In [276]:
# 文字があるのか検索 - true(ある) or false（ない　）
x="ABCDEFG"
print("Z" in x)
print("G" in x)

# findk関数
for (ken,city) in zip(kens,cities):
    print("Ken:" + ken + " City:"+city)

False
True
Ken:tottori City:大阪区北区
Ken:shimane City:大阪区赤羽
Ken:hirosshima City:東京都渋谷区
Ken:okayama City:東京都港区

In [ ]:
# 例外(Exception)
# プログラムの実行時に発生する、コンパイルの時点では想定できなかったエラー
# 実行時エラー発生時、例外処理で対処を行う

age = int(input("年齢を入力してください"))

In [277]:
try:
    age = int(input("年齢を入力してください"))
except:
    print("数値の入力ではなく文字が入力されました")

年齢を入力してくださいだ
数値の入力ではなく文字が入力されました

In [278]:
try:
    age = int(input("年齢を入力してください"))
except:
    print("数値の入力ではなく文字が入力されました")
else:
    if age >= 18:
        print("成年です")
    else:
        print("未成年です")

年齢を入力してください12
未成年です

In [279]:
# 文字列操作
# 型を知る、メソッドを呼ぶ
# type関数でオブジェクトの型を確認できる
# pythonでのメソッドの呼び方　インスタンス名.メソッド() 

x = 5
y = 3.1
z = "Hello"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [280]:
# メソッドを呼び出す・文字の取り出し・文字数の取得
# len関数で文字列の長さを取得できる
# スライスで指定した範囲の文字列を取り出すことができる

x = "Hello"
print(x.lower())

print(len(x))

for c in x:
    print(c)

print(x[0:1])
print(x[:3])
print(x[2:])

hello
5
H
e
l
l
o
H
Hel
llo

In [281]:
x = "ABCDEFG"
print("Z" in x)
print("G" in x)

print(x.find("Z"))
print(x.find("G"))

False
True
-1
6

In [282]:
x = 18
y = "成人"
print("{}歳は{}です。".format(x,y))
print("{1}は{0}です。".format(x,y))
print("{0:,}".format(1000000))

18歳は成人です。
成人は18です。
1,000,000

In [283]:
# リストの操作
# リストは変更できるがタプルは変更できない
# リストは追加・変更・削除ができる
# リストの最大、最小、合計を求めることができる
# リストの要素を並べ替えることができる
# コマンドラインから引数を受け取ることができる

list = ["月","火"] + ["水","木"]
print(list)

list = ["山"] * 4
print(list)
list = ["月","火"] + ["水","木"]

print(list[2:4])
print(list[::2])

['月', '火', '水', '木']
['山', '山', '山', '山']
['水', '木']
['月', '水']

In [284]:
weekday = "月,火,水,木,金,土,日"
weekday_list = weekday.split(",")
print(weekday_list)

['月', '火', '水', '木', '金', '土', '日']

In [285]:
list = ["月","火","水","木","金","土","日"]
print("日" in list)
print("日" not in list)
print(list.index("月"))
print(list.index("土"))

True
False
0
5

In [286]:
list = ["月","火","水","森","金","土","日"]
list[3]="木"
print(list)

list = ["月","火","水","森","金","土"]
list.append("日")
print(list)

['月', '火', '水', '木', '金', '土', '日']
['月', '火', '水', '森', '金', '土', '日']

In [287]:
lst =["A",["B","C","D"],"E"]
print(lst[0])
print(lst[1][2])
print(lst[2])

A
D
E

In [288]:
list = ["月","火","水","森","金","土","日"]
list.remove("火")
print(list)

del list[2]
print(list)

del list[1:3]
print(list)

['月', '水', '森', '金', '土', '日']
['月', '水', '金', '土', '日']
['月', '土', '日']

In [289]:
list = ["月","火","水","木","金","土","日"]
list.reverse()
print(list)

['日', '土', '金', '木', '水', '火', '月']

In [291]:
list = [10,20,30,40,50,60,70,80,90,100]
print(max(list))
print(min(list))

list.sort(reverse=True)
print(list)

list.sort()
print(list)

list.sort(reverse=True)
list2 = sorted(list)
print(list)
print(list2)

list2 = sorted(list,reverse=True)
print(list)

100
10
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [292]:
#コマンドプロンプトからパラメータを受け取る
import sys
for i in range(0,len(sys.argv)):
    print(sys.argv[i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py
-f
/root/.local/share/jupyter/runtime/kernel-bbe727e1-c1d5-43d8-b839-b43a155042b3.json

In [ ]:
# 辞書と集合
# 辞書はKey-Valueでデータを保存する
# Keyは重複のない文字列, 集合はリストやタプルと違い要素の重複が許されない 
# 辞書はdictクラス、集合はsetクラスのオブジェクト
# リスト、タプルー>シーケンス型 
# 辞書 ー>マッピング型

In [293]:
months = {"Jan":"1月","Feb":"2月","Mar":"3月"}
print(len(months))
print(months["Feb"])

months["Apr"] = "4月"
print(months)

del(months["Feb"])
print(months)
print("Feb" in months)
print("Apr" in months)
print(months.keys())
print(months.values())
print(months.items())
for en,jp in months.items():
    print("英語:{} 日本語:{}".format(en,jp))

3
2月
{'Jan': '1月', 'Feb': '2月', 'Mar': '3月', 'Apr': '4月'}
{'Jan': '1月', 'Mar': '3月', 'Apr': '4月'}
False
True
dict_keys(['Jan', 'Mar', 'Apr'])
dict_values(['1月', '3月', '4月'])
dict_items([('Jan', '1月'), ('Mar', '3月'), ('Apr', '4月')])
英語:Jan 日本語:1月
英語:Mar 日本語:3月
英語:Apr 日本語:4月

In [294]:
months = {"1月","2月","3月","4月","1月"}
print(months)
for x in months:
    print(x)

list = [1,2,3,2,1,2,3,4,3,12,5,3,3]
sets = set(list)
print(sets)

sets.add(100)
print(sets)

sets.remove(1)
print(sets)

sets.clear()
print(sets)

{'2月', '3月', '1月', '4月'}
2月
3月
1月
4月
{1, 2, 3, 4, 5, 12}
{1, 2, 3, 4, 5, 100, 12}
{2, 3, 4, 5, 100, 12}
set()

In [295]:
kazu = {1,2,3,4,5,6,7,8,9,10}
kisuu = {1,3,5,7,9,11,13,15}

print(kazu | kisuu)
print(kazu & kisuu)
print(kazu - kisuu)
print(kazu ^ kisuu)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15}
{1, 3, 5, 7, 9}
{2, 4, 6, 8, 10}
{2, 4, 6, 8, 10, 11, 13, 15}

In [296]:
# 内包表記
# 式 for 変数 in イテレート可能オブジェクト 
# 式 for 変数 in オブジェクト if 条件式 
# リストや辞書、集合を生成できる 
# 高速に動作する, タプルに内包表記はない

#2の0乗から2の16乗までをリストに格納
bin = []
for n in range(0,17,1):
    bin.append(2**n)
print(bin)

#内包表記で記述
bin = [2**n for n in range(0,17,1)]
print(bin)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536]

In [299]:
#リストをもとに新しいリストを作成
price = [100,250,300]
tax = 1.08
total = [int(p*tax) for p in price]
print(total)

[108, 270, 324]

In [298]:
#文字列を利用したリストの作成
rank = [r +"ランク" for r in "ABCDEF"]
print(rank)

['Aランク', 'Bランク', 'Cランク', 'Dランク', 'Eランク', 'Fランク']

In [300]:
#条件を満たす要素だけでリストを作成
guusuu = [n for n in range(0,10,1) if n % 2 == 0]
print(guusuu)

[0, 2, 4, 6, 8]

In [301]:
#指定した県の市の名前を表示
citys=["鳥取県米子市","鳥取県境港市","広島県福山市"]
tottori_citys = [city[3:] for city in citys if city.startswith("鳥取県")]
print(tottori_citys)

['米子市', '境港市']

In [302]:
#合格者の抽出
test = [("A","合格"),("B","合格"),("C","不合格"),("D","合格"),]
passed = [x[0] for x in test if x[1] == "合格"]
print(passed)

['A', 'B', 'D']

In [303]:
#辞書の内包表記の利用
teams = ["A","B"]
team_dic = {t:0 for t in teams}
print(team_dic)

points = [40,59]
team_dic = {t:p for t,p in zip(teams,points)}
print(team_dic)

team_dic = {str(p):t for (t,p) in team_dic.items()}
print(team_dic)

{'A': 0, 'B': 0}
{'A': 40, 'B': 59}
{'40': 'A', '59': 'B'}

In [304]:
#集合の内包表記
point = [10,10,20,100,40,50,60]
fails = {x for x in point if x <= 60}
print(fails)

{40, 10, 50, 20, 60}

In [305]:
# 関数の作成と呼び出し
# 関数はdef文

# def 関数(引数1,引数2...): 
#     処理(インデントが必要) 
#     return 戻り値

# ミュータブル(参照渡し) - 値が変化するオブジェクト, リスト型、辞書型、集合型 •
# イミュータブル(値渡し) - 値が変化しないオブジェクト, 文字列型、数値型、タプル型

# 関数には値を渡すための引数(ひきすう)がある
# 関数が戻す値を戻り値(もどりち)という
# 引数は値渡しと参照渡しがある
# returnで戻す関数にすればあまり気にしなくてOK

#税込み金額の価格を返す関数
def getPrice(price,tax):
    return int(price*tax)

print(getPrice(100,1.08))
print(getPrice(price=100,tax=1.08))
#print(getPrice(price=100,1.08)) #エラーになる

print(getPrice(100,tax=1.08))
print(getPrice(tax=1.08,price=100))

108
108
108
108

In [306]:
#引数にデフォルト値を設定する
def getPrice2(price,tax=1.08):
    return int(price*tax)
print(getPrice2(1000))

1080

In [307]:
#リストの値を変更する
list = ["A","B"]
def addC(list_item):
    list_item.append("C")

addC(list)
print(list)

['A', 'B', 'C']

In [308]:
#グローバル変数の利用
x = 0
def setCount(y):
    x = y  
def setCount2(y):
    global x
    x = y    
setCount(10)
print(x)
setCount2(12)
print(x)

0
12

In [309]:
# 可変長引数と無名関数
# 可変長引数 - 関数を利用する時、引数として与える値が複数の時に使われる
# 例:keisan(3,4,5,3,2,3,4,3,2,mode=“+”)

# 無名関数 - lambda式といい、簡単な関数を作る時に利用する
# 利用方法は、関数型の変数に代入して利用する 
# 例 関数名 = lambda 引数:処理 
# 無名関数にreturnはない

# 2個目以降の引数にはキーワードが必要。
# **を使うと引数そのものを辞書で渡せる
# ラムダ式は無理に使う必要はない

#可変長引数を用いた関数
def keisan(*kazu,mode):
    total = 0
    if mode == "+":
        for i in kazu:
            total += i
    if mode == "-":
        for i in kazu:
            total -= i
    return total
print(keisan(1,2,3,4,5,mode="+"))
print(keisan(1,2,3,4,5,mode="-"))

15
-15

In [310]:
#引数を辞書で受け取る
def insert_data(**data):
    print(data)
insert_data(name="Izawa",blood="A",age="43")

{'name': 'Izawa', 'blood': 'A', 'age': '43'}

In [311]:
#Lambda式の利用
bigger = lambda kazu1,kazu2: kazu1 if kazu1 > kazu2 else kazu2
print(bigger(10,4))
print(bigger(100,400))    

getPrice = lambda price,tax=1.08 :int(price*tax)
print(getPrice(1000))
print(getPrice(1000,1.1))

10
400
1080
1100

In [313]:
# 関数の活用
# map関数 - リストと関数を与えて処理をする関数 
# filter関数 - リストの中身を条件を指定して取得する関数, 内包表記でも同じことができます。

# ジェネレータ関数 - イテレート可能なオブジェクトを定義することができる
# ジェネレータ関数はreturn文ではなく、yield文を使う
# next文で次のデータを取り出す

# ジェネレータ式
# 内包表記と似た記述方法
# 内包表記 [~], ジェネレータ式 (~)


# 単に関数にかけることができる。
# 辞書をソートする時、KeyでもValueでも並べ替えできる。
# ジェネレータ式の利点はメモリ効率の良さ膨大なデータを扱うときは内包表記より効率がよい

#map関数の利用
def getTaxPrice(price,tax=1.08):
    return int(price * tax)

prices = [100,250,300,1400]
for price in map(getTaxPrice,prices):
    print(price)
#リストに保存
onTaxPrices = list(map(getTaxPrice,prices))
print(onTaxPrices)

108
270
324
1512

NameError: ignored

In [319]:
#無名関数とmap関数

# lanbda式を使った場合
prices = [100,250,300,1400]
onTaxPrices = list(map(lambda price,tax=1.08:int(price*tax),prices))
print(onTaxPrices)

TypeError: ignored

In [322]:
#　map関数の代わりに内包表記を利用
# lanbda式を使わない場合
prices = [100,250,300,1400]
onTaxPrices = [int(price*1.1) for price in prices]
print(onTaxPrices)

[110, 275, 330, 1540]

In [330]:
#filter関数の利用
def over1000(price):
    return price >= 1000

prices = [100,250,300,1400]
for price in filter(over1000,prices):
    print(price)

#無名関数とfilter関数
prices = [100,250,300,1400]
for price in filter(lambda price:price >= 1000,prices):
    print(price)

#filter関数の代わりに内包表記を利用
prices = [100,250,300,1400]
over1000Prices=[price for price in prices if price >= 1000]
print(over1000Prices)

1400
1400
[1400]

In [332]:
#辞書のソート ソートするkeyを指定
teams = {"Zaku":"Ateam","Bash":"Ateam","Ken":"Bteam","Take":"Ateam"}
print("名前の昇順")
for player in sorted(teams.items(),key=lambda k:k[0]):
    print(player[0],player[1])
print("チームの昇順")
for player in sorted(teams.items(),key=lambda k:k[1]):
    print(player[0],player[1])

名前の昇順
Bash Ateam
Ken Bteam
Take Ateam
Zaku Ateam
チームの昇順
Zaku Ateam
Bash Ateam
Take Ateam
Ken Bteam

In [333]:
#ジェネレータ関数の利用 
def weekdays():
    wdays = ("Sum","Mon","The","Wed","Thu","Fri","Sat")
    for w in wdays:
        yield w
w = weekdays()

print(next(w))
print(next(w))
print("一休み")

w = weekdays()
for x in w:
    print(x)

Sum
Mon
一休み
Sum
Mon
The
Wed
Thu
Fri
Sat

In [334]:
#ジェネレータ式の利用（内包表記より高速に動作する）
wdays = ("Sum","Mon","The","Wed","Thu","Fri","Sat")
w = (w for w in wdays)
for x in w:
    print(x)

Sum
Mon
The
Wed
Thu
Fri
Sat

In [ ]:
# ファイルの読み込み
# 情報を保存したり、保存した情報を呼び出したりする事ができる。(永続的データ)
# ファイルはオープンして利用可能にし、クローズしてファイルを開放する。

# readメソッド - 読み込み方
# ファイル内の情報をすべて読み込むか、文字数を指定して読み込むことができる
# readLinesメソッド - ファイル内の情報をすべて読みこんでリストで返却することができる
# readLineメソッド - ファイルを1行ずつ読み込む, ファイルの終了は ”” に到達したところで終了

# with文
# with文を利用してファイルをオープンして、withブロック内にファイル処理を書くだけ
# closeを書かなくてもwithブロックから抜けるタイミングで自動的にcloseされる

In [3]:
#readLinesメソッドの利用 "r"とencoding="utf-8"は省略が可能
file=open("/content/Study19Data.csv","r",encoding="utf-8")

# 引数があるver -　file.read(文字数指定 - なければ(全指定) 
data=file.read(2)
print(data)
print("次の読み込み")

# 引数がないver
data=file.read()
print(data)

# must
file.close()

ID
次の読み込み
,Name,Japanese,Math,Sience,Social Studys,Englisth
1,Aran,50,67,53,98,97
2,Dave,60,75,65,75,64
3,Jhon,43,98,37,48,86
4,Kim,65,69,65,68,68
5,Scott,76,78,75,98,89

In [4]:
#readLinesメソッドの利用
file=open("/content/Study19Data.csv")
data=file.readlines()
for d in data:
    print(d,end="")
file.close

ID,Name,Japanese,Math,Sience,Social Studys,Englisth
1,Aran,50,67,53,98,97
2,Dave,60,75,65,75,64
3,Jhon,43,98,37,48,86
4,Kim,65,69,65,68,68
5,Scott,76,78,75,98,89

In [7]:
#readLineメソッドの利用
file=open("/content/Study19Data.csv")
while True:
    data=file.readline()
    if data =="":
        break
    print(data,end="")
file.close
# 二重改行しない

ID,Name,Japanese,Math,Sience,Social Studys,Englisth
1,Aran,50,67,53,98,97
2,Dave,60,75,65,75,64
3,Jhon,43,98,37,48,86
4,Kim,65,69,65,68,68
5,Scott,76,78,75,98,89

In [8]:
#with文を使ったファイル処理
with open("/content/Study19Data.csv") as file:
    while True:
        data = file.readline()
        if data == "":
            break
        print(data,end="")

ID,Name,Japanese,Math,Sience,Social Studys,Englisth
1,Aran,50,67,53,98,97
2,Dave,60,75,65,75,64
3,Jhon,43,98,37,48,86
4,Kim,65,69,65,68,68
5,Scott,76,78,75,98,89

In [ ]:
# ファイルオープン時に2つのモードを選べる
# 1,w(write) 新規書き込み - 前のデータが消されて最新のデータが含まれる
# 2,a(append) 追加書き込み　ー　ファイルが存在しなければ、新規書き込みと同じ。ファイルがある場合は、ファイルの最後に追加する

# 書き込み方 
# writeメソッド - print文のような感覚でファイルに書き出しできる
# writeLinesメソッド(おすすめ) - 行単位でファイルの書き出しができる

# ファイルが存在するかどうか
# os.path.exists(ファイル名)でファイルが有るかどうかを確認できる。

In [11]:
#writeメソッド(writeモード)
with open("/content/Study19Data.csv","w",encoding="utf_8") as file:
    file.write("ABC")
    file.write("DEF\n")
    file.write("GHI\n")

In [15]:
#writeメソッド(appendモード)
with open("/content/Study19Data02.csv","a",encoding="utf_8") as file:
    file.write("ABC")
    file.write("DEF\n")
    file.write("GHI\n")

In [16]:
#writelinesメソッド
wdays = ("Sun\n","Mon\n","The\n","Wed\n","Thu\n","Fri\n","Sat\n")
with open("/content/Study19Data03.csv","a",encoding="utf_8") as file:
    file.writelines(wdays)

In [19]:
#ファイルが有るかどうかを確認する
import os
file_name = "Study19Data03.csv"
if os.path.exists(file_name):
    print(file_name+"＂は存在します")
else:
    print(file_name+"は存在しません")

Study19Data03.csv＂は存在します

In [ ]:
# クラスとは - オブジェクト指向プログラミングでの考え方 
# フィールドメンバ(変数)とメソッドメンバ(関数)で構成される

# インスタンス - クラスをもとに作られるクラスの分身のようなもの
# クラス = 鉄板 
# インスタンス = たい焼き

# クラス変数とインスタンス変数
# インスタンス変数 - インスタンス一つ一つが持つ値 
# たい焼きの中身が あんこ クリーム

# クラス変数 - クラスが持つ値
# 鉄板の中で焼けているたい焼きの個数

# クラス作成の文法
# class クラス名 - クラス名の先頭は大文字複数の単語の場合は_を使わず大文字にして表現する
# def メソッド名(self,引数): - クラス内で定義するメソッドの第一引数は必ずselfと書くこと


# 初期化メソッドとフィールドメンバへのアクセス
# __init__(self) メソッドで行う 
# elf.変数名でメンバ変数にアクセスできる

# インスタンスの作成と利用

# インスタンスの作成 
# インスタンス変数名 = クラス名() 
# teama = TeamA(“Jack”,30) 

# メソッドメンバへのアクセス
# インスタンス名.メソッド名
# teama.getName()
 
# フィールドメンバへのアクセス
# インスタンス名.フィールド名
# age = teama.age

# クラスを利用すると効率的にプログラムが書ける 
# クラスの初期化は__init__()メソッドで行う 
# クラス内のメソッドの第一引数はselfにする
# プログラミングとは別にオブジェクト指向の考え方を学ぶことも大事

In [23]:
#クラスの作成
class TeamA:
    member = 0 #メンバーの人数（クラス変数）
    def __init__(self,name,age):
        self.name = name #引数の値をインスタンス変数に代入
        self.age = age
        TeamA.member += 1 #クラス変数に1加算
    def getBornYear(self):
        return 2019 - self.age
#ここまでがTeamAのクラスの中身
# 実際にクラスを使ってみる
izawa = TeamA("Takeshi",43)
print(izawa.name+":"+str(izawa.age))
izawa.name = "Takeshi Izawa"
print(izawa.name)
yamada = TeamA("hanako",23)
print("メンバーの人数:"+str(TeamA.member))
print(izawa.name+":"+str(izawa.getBornYear())+"年生まれ")

Takeshi:43
Takeshi Izawa
メンバーの人数:2
Takeshi Izawa:1976年生まれ

In [ ]:
# クラスの活用
# 後からメンバを追加する - Pythonでは、作成したクラスとインスタンスにインスタンス変数やクラス変数、メソッドを追加することができる

# アクセサメソッド - オブジェクト指向プログラミングにおけるカプセル化を実現するために、メンバへのアクセスをメソッド経由で行うget(ゲッター), set(セッター)メ ソッドがある
# 変数名 でクラスの外部からアクセスできないようにできます

# プロパティ　- クラスのメンバ変数へのアクセスを簡単にするためにpropertyメソッドを使うと、アクセスが簡単になります。

# モジュールのインポート
# 作成したクラスをインポートして利用することができる

# モジュールのインポート
# Import ファイル名 (.pyはつけない)

# クラスのインポート
# from ファイル名 import クラス名

In [24]:
#クラスの作成
class TeamA:
    member = 0 #メンバーの人数（クラス変数）
    def __init__(self,name,age):
        self.name = name #引数の値をインスタンス変数に代入
        self.age = age
        TeamA.member += 1 #クラス変数に1加算

izawa = TeamA("Takeshi",43)
#動的にインスタンス変数を追加
izawa.blood = "A"
print(izawa.blood)

#動的にクラス変数を追加
TeamA.teamName = "ウルトラチーム"
print(TeamA.teamName)

#インスタンス変数.クラス変数でもアクセスできる
print(izawa.teamName)

#動的にメソッドを追加
def getBlood(self):
    return self.blood
TeamA.getBlood = getBlood
print(izawa.getBlood())

A
ウルトラチーム
ウルトラチーム
A

In [26]:
#アクセサメソッドの利用
class TeamB:
    def __init__(self,name):
        self.__name = name
#　self.__name - プライベートなインスタンス変数
    def get_name(self):
        return self.__name
    def get_age(self):
        return self.__age
    def set_age(self,age):
        self.__age = age

izawa = TeamB("Takeshi")
izawa.set_age(24)
print(izawa.get_name()+":"+str(izawa.get_age()))

Takeshi:24

In [25]:
#プロパティの利用
class TeamC:
    def __init__(self,name):
        self.__name = name
    def get_name(self):
        return self.__name
    def get_age(self):
        return self.__age
    def set_age(self,age):
        self.__age = age
    name = property(get_name)
    age = property(get_age,set_age)

izawa = TeamC("Takeshi")
izawa.age = 43
print(izawa.name+":"+str(izawa.age))

Takeshi:43

In [ ]:
#モジュールのインポート
import team #team.py全部をインポート
yamada = team.TeamC("Hanako") #モジュール名.クラス名
print(yamada.name)

#クラスのインポート
from team import TeamC
kubota = TeamC("Toshi")
print(kubota.name)

In [ ]:
# 継承とは
# すでにあるクラス(スーパークラス)を引き継ぎ、引き継いだクラス(サブクラス)では差分のみを記述する

# スーパークラスへのアクセス
# サブクラス内からsuper().メソッド名でアクセスできる

# 継承を利用すると、すでにあるコードを引き継ぎ、足らないところだけを書くだけですむ
# super().メソッド名でスーパークラスのメソッドにアクセスできる

In [28]:
class Animal:
    def __init__(self,animal_type,tall):
        self.__animal_type = animal_type
        self.__tall = tall
    def getAnimalType(self):
        return self.__animal_type
    def getTall(self):
        return self.__tall
    animal_type = property(getAnimalType)
    tall = property(getTall)
# ここまでがスーパークラス
class Human(Animal):
    def __init__(self,animal_type,tall):
        super().__init__(animal_type,tall)
    def aisatsu(self):
        print("こんにちは")
        
lion = Animal("ライオン",50)
print(lion.animal_type+":"+str(lion.tall)+"cm")

izawa = Human("人間",181)
print(izawa.animal_type+":"+str(izawa.tall)+"cm")
izawa.aisatsu()

ライオン:50cm
人間:181cm
こんにちは