In [1]:
# 四則演算
5**3

125

In [2]:
# 変数 - 計算結果を格納したり、収容したりする値を格納する箱のこと
# よく用いる計算やテキストを変数に格納してすぐに使えるようになる

# 注意点
# １、大文字と小文字は区別される
# ２、数字、一部を除いた記号は先頭の文字に使用できない
# ３、予約語は使用できない

a=3
b=5
price=100
tax= 0.1

print(a*b)
print(price*tax)

15
10.0

In [3]:
name = "chani"
name

'chani'

In [4]:
# 比較演算子
1<3, 1>3, 1>-1, 1>=1, 1==1, 1==2, 1!=2,"chani"=="chani","chani"=="Chani"

(True, False, True, True, True, False, True, True, False)

In [5]:
# データ型 - コンピュータが扱っているデータの型のこと
# c = 複素数(complex)
# boolean型(論理型) - true or false

a=100
b=1.01
c=3j
name="Chani"
flg=True
d=[10,20,30]
e={}
f=()

print(type(a))
print(type(b))
print(type(c))
print(type(name))
print(type(flg))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

In [6]:
# リスト - 複数の値をまとめて扱いたい場合に使用する
# 要素 - リストの中身
# インデックス - リストの中身の番号（0から始まる） 

names=["Chani","Leon","Nao"]
names[2]
# names[-1] = names[2]
names[0:2]
# names[0:2] = names[:2]

# xxx.append(xxx) = 要素の追加 
names.append("Kosaka")

#　xxx.pop(インデックスの番号を指定すればその番号を削除。通常は一番最後の要素を削除) = 最後の要素を削除 
names.pop()
names

['Chani', 'Leon', 'Nao']

In [7]:
# 辞書 - ”キー”と”値”を持った複数のデータのこと
# 科目＝キー
# 点数＝値

# score={
#        "国語":50,
#        "数学":60,
#        "英語":80,
#        "理科":55,
#        "社会":70
# }

scores={"国語":40,
       "数学":90,
       "英語":80,
       "理科":80,
       "社会":70
        }

scores["英語"]

# 要素の追加方法
scores["家庭科"]=100
scores["体育"]=10

# 要素の削除方法
scores.pop("体育")
scores

{'国語': 40, '家庭科': 100, '数学': 90, '理科': 80, '社会': 70, '英語': 80}

In [17]:
# if文 - 特定の条件に従って処理を行いたい場合に使用する

money=3000
if money >= 8000:
    print("遊園地に行く")
elif money>=2000:
    print("映画館に行く") 
else:
    print("遊園地にはいけない")

映画館に行く

In [24]:
# 繰り返し処理(for文) - 特的の条件を満たすまで繰り返し処理を行う場合に使用する

names=["chani","Leon","Kosaka","Nao","Chanhi"]

# やり方１
# print(names[0]+"さん")
# print(names[1]+"さん")
# print(names[2]+"さん")
# print(names[3]+"さん")
# print(names[4]+"さん")

# やり方２
# for i in range(5):
#     print(names[i]+"さん")

# やり方３
# for i in range(len(names)):
#     print(names[i]+"さん")

# やり方4 - names(リスト)の中から〜
for name in names:
    print(name+"＂さん")

chani＂さん
Leon＂さん
Kosaka＂さん
Nao＂さん
Chanhi＂さん

In [32]:
# zip関数とenumerate関数（for文/応用）
# zip関数 - 複数のリストの要素をまとめて処理したい場合に使用する
# enumerate関数 - インデックスと要素を同時に処理したい場合に使用する

last_names=["安富","小坂","高本","ストライク"]
first_names=["燦希","菜緒","彩花","フリーダム"]

# やり方１
# print(last_names[0]+first_name[0]+"さん")
# print(last_names[1]+first_name[1]+"さん")
# print(last_names[2]+first_name[2]+"さん")
# print(last_names[3]+first_name[3]+"さん")

# やり方２
# for i in range(len(last_names)):
#     print(last_names[i]+first_name[i ]+"さん")

# zip関数
for last_name,first_name in zip(last_names,first_names):
    print(last_name+first_name+"さん")

# enumerate関数
# print("出席番号",0,+"番目の"+last_name[0]+"さん")
# print("出席番号",1,+"番目の"+last_name[0]+"さん")
# print("出席番号",2,+"番目の"+last_name[0]+"さん")
# print("出席番号",3,+"番目の"+last_name[0]+"さん")

# for i in range(len(last_names)):
#     print("出席番号",i,+"番目の"*last_name[i]+"さん")

# enumerate関数
# やり方1
# for i,last_name in enumerate(last_names):
#     print("出席番号",i,"番目の"+last_name+"さん")

# f-strings {}の中に変数を入れることができるようになる
for i,last_name in enumerate(last_names):
    print(f"出席番号{i}番目の{last_name}さん")

安富燦希さん
小坂菜緒さん
高本彩花さん
ストライクフリーダムさん
出席番号0番目の安富さん
出席番号1番目の小坂さん
出席番号2番目の高本さん
出席番号3番目のストライクさん

In [34]:
# break文 - 特定の条件で処理を中断する
for i in range(10):
    if i==7:
        break
    print(i)

0
1
2
3
4
5
6

In [36]:
# continue文 - スキップ　
for i in range(10):
    if i==7:
        continue
    print(i)

0
1
2
3
4
5
6
8
9

In [2]:
# 関数 - 入力データに対して、関数(function)を用いることで処理(変換)を行い、その処理結果を出力することができる。　
# x - 入力, f(x) - 関数, y - 出力
# y=2x

def say_hello():
    print("hey, everyone")

say_hello()

hey, everyone

In [8]:
def say_hello2(name):
    print(f"{name}さん,こんにちは")

# say_hello2() 結果→ say_hello2() missing 1 required positional argument: 'name' = 一つ引数を入れる必要がある。外から引数（変数を）入れることで柔軟に対応可能。
say_hello2(name="yasutomi")

yasutomiさん,こんにちは

In [14]:
# 返り値 - return side*side
# def calc_square(side):
#     print(side*side)
# result= calc_square(side=10)

def calc_square(side):
    return side*side
result= calc_square(side=100)
result

# returnを入れることでresultの中にcalc_square(side=10)が代入されているのが確認できる

10000

In [23]:
def calc_tri(base,height):
    return base*height*0.5
result=calc_tri(base=100,height=20)
# result=calc_tri(100,20) - でも可能
result

1000.0

In [18]:
# デフォルトで設定も可能

def calc_tri(base=100,height=20):
    return base*height*0.5
result=calc_tri()
result

1000.0

In [50]:
# クラス - モノの設計書、オブジェクトの共通項、つまり特徴を一つにまとめて抽象化したもの
# 外からself,name,nationality,mageを取ってきてself.name=name, self.nationality=nationality, self.age=ageのインスタンスにそれらを代入する
# selfはインスタンス自身も意味する一つの引数（値）, self=インスタンス

# def __init__(self,name,nationality,age):のnameはself.name=nameの右側のnameに代入されている,
# def __init__(self,name,nationality,age):のageはself.age=ageの右側のageに代入されている,
# def __init__(self,n　ame,nationality,age):のnationalityはself.nationality=nationalityの右側のnationalityに代入されている,

# つまりname,nationality,ageという引数を(self.name,self.nationality,self.age)に代入している

# 順序 1,(self,name,nationality,age)に引数が代入される 2,右側のname,nationality,ageに代入される　3　左側のself.xxxに代入される
# class Person:
#     def __init__(self,name,nationality,age): - 
#         self.name=name 
#         self.nationality=nationality
#         self.age=age

class Person:
    # 初期設定
    def __init__(self,name,nationality,age):
        self.name=name
        self.nationality=nationality
        self.age=age
    
    def __call__(self,name):
        print(f"{name}さん、こんにちは。私は{self.name}です")

    def say_hello(self,name):
        print(f"{name}さん、こんにちは。私は{self.name}です")

# インスタンス化 - yasutomi = Person(name="安富",nationality="Japan",age=26)
# def __init__(self,name,nationality,age): はyasutomi = Person()を作った段階で呼ばれる特殊な関数
yasutomi = Person(name="安富",nationality="Japan",age=26)
mike = Person(name="マイク",nationality="US",age=23)

yasutomi(name="satou")
mike(name="suzuki")
# yasutomi 結果→<__main__.Person at 0x7ffb6781cdd0>　Personというクラスをもとにして作られたインスタンスですよという意味
# yasutomi.age 結果→ 26
# yasutomi.nationality 結果→ Japan
# yasutomi.name 結果→安富

# mike.age 結果→ 23
# mike.nationality 結果→ US
# mike.name 結果→マイク

# yasutomi.say_hello(name="satou") 結果→ satouさん、こんにちは。私は安富です
# mike.say_hello(name="satou") 結果→ suzukiさん、こんにちは。私はマイクです

# call関数呼びだし方 - instance名()
# yasutomi(name="satou")
# mike(name="suzuki")

# つまりPersonという設計書をもとに独特のmikeとうインスタンスが出来上がっているということ

satouさん、こんにちは。私は安富です
suzukiさん、こんにちは。私はマイクです

In [88]:
# ライブラリ - 目的ごとに応じた便利な機能、つまりクラスや関数などをまとめたもの
import datetime

In [89]:
today =  datetime.date.today()

In [90]:
# UTC-基準(現在の時刻)
datetime.datetime.now()

datetime.datetime(2022, 1, 4, 2, 23, 35, 218760)

In [91]:
today.month

1

In [92]:
today.day

4

In [93]:
# 昨日の日付取得
today - datetime.timedelta(days=1)

datetime.date(2022, 1, 3)

In [94]:
today.strftime("%Y年%m月%d日")
# today.strftime("%Y/%m/%d") 結果 - 2022/01/04

'2022年01月04日'

In [95]:
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [96]:
import pandas as pd

In [97]:
# df - DataFrameの略
df =pd.DataFrame([[1,2,3],
             [4,5,6],
             [7,8,9]
              ])

df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [98]:
# csvファイル読み取り方法
# pd.read_csv("パス")

df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [99]:
# df.head()　最初の５つを見れる
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [100]:
# df.tail()　末尾の５つを見れる
df.tail()

      longitude  latitude  ...  median_income  median_house_value
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[5 rows x 9 columns]

In [101]:
# column取得方法 df.iloc[行,列]
df.iloc[:,:3]

      longitude  latitude  housing_median_age
0       -122.05     37.37                27.0
1       -118.30     34.26                43.0
2       -117.81     33.78                27.0
3       -118.36     33.82                28.0
4       -119.67     36.33                19.0
...         ...       ...                 ...
2995    -119.86     34.42                23.0
2996    -118.14     34.06                27.0
2997    -119.70     36.30                10.0
2998    -117.12     34.10                40.0
2999    -119.63     34.42                42.0

[3000 rows x 3 columns]

In [102]:
# column取得方法 df.iloc[行,列]
df.iloc[:,:3].head()

   longitude  latitude  housing_median_age
0    -122.05     37.37                27.0
1    -118.30     34.26                43.0
2    -117.81     33.78                27.0
3    -118.36     33.82                28.0
4    -119.67     36.33                19.0

In [104]:
# 条件分岐 
df[df["housing_median_age"] > 30]

      longitude  latitude  ...  median_income  median_house_value
1       -118.30     34.26  ...         3.5990            176500.0
5       -119.56     36.51  ...         1.6635             67000.0
6       -121.43     38.63  ...         1.6641             67000.0
9       -118.02     34.08  ...         2.3333            164200.0
10      -118.24     33.98  ...         2.2054            125000.0
...         ...       ...  ...            ...                 ...
2992    -122.33     37.39  ...         6.2263            500001.0
2993    -117.91     33.60  ...         5.1048            500001.0
2994    -117.93     33.86  ...         5.5867            182500.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[1401 rows x 9 columns]

In [105]:
# 行列確認
df.shape

(3000, 9)

In [107]:
# それぞれの平均
df.mean()

longitude               -119.589200
latitude                  35.635390
housing_median_age        28.845333
total_rooms             2599.578667
total_bedrooms           529.950667
population              1402.798667
households               489.912000
median_income              3.807272
median_house_value    205846.275000
dtype: float64

In [108]:
# それぞれの標準偏差
df.std()

longitude                  1.994936
latitude                   2.129670
housing_median_age        12.555396
total_rooms             2155.593332
total_bedrooms           415.654368
population              1030.543012
households               365.422710
median_income              1.854512
median_house_value    113119.687470
dtype: float64

In [109]:
# それぞれの最大値
df.max()

longitude               -114.4900
latitude                  41.9200
housing_median_age        52.0000
total_rooms            30450.0000
total_bedrooms          5419.0000
population             11935.0000
households              4930.0000
median_income             15.0001
median_house_value    500001.0000
dtype: float64

In [110]:
# それぞれの統計量
df.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]